/*

.IC_{
    width: 35%;
    display:block;
    margin:auto;
    margin-top: 3%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="png/angel.png");
    background:none;
}



#line_{
    margin-top: 0.1%;
}
#line2_{
    margin-top: 0.1%;
}

#siz{
    width: 50%;
}

#siz2{
    width: 30%;
}

#icon {
    margin-left: 33%;
    border: 5px hidden #1C6EA4;
}

#tb{
    display:block;
    margin:auto;
    margin-top: 3%;
    margin-left: 18%;
}

.demo img:hover{
    transform: scaleX(-1);
}
*/
#background {
    background-color: #2b2b2b;
}

.CS_ {
    width: 100%;
    display: block;
    z-index: 1;
    margin: auto;
}

.CS_2 {
    width: 100%;
    display: block;
    z-index: -1;
    margin: auto;
}

.CS_:hover {
    opacity: 0.3;
}

.main-content {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.code_div {
    height: 11500px;
    background: url("img/46.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.name {
    font-family: 'Noto Sans';
    font-size: 60px;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    position: absolute;
    margin-left: 15%;
    margin-top: 1%;
}
.class_{
    font-size: 15px;
    margin-top: 1%;
}
.teacher_{
    font-size: 20px;
    margin-top: 10px;
}

.Borad_H {
    height: 7050px;
    width: 1700px;
    border: 5px solid #fdbae783;
    background-color: #fdbae783;
    border-radius: 100px;
    margin-top: 2%;
}

.bgk{
    background-image: url('img/101.jpg');
    height: 800px;
}

.plan{
    font-family: 'Noto Sans';
    font-size: 30px;
    text-shadow: rgb(240, 140, 140) 1px 0 10px;
}

.Borad_F {
    height: 450px;
    width: 1700px;
    border: 5px solid #fdbae783;
    background-color: #fdbae783;
    border-radius: 100px;
    margin-top: 2%;
    margin-left: 5%;
}

.ft_2{
    font-family: 'Noto Sans';
    font-size: 100px;
    text-shadow: rgb(241, 115, 214) 1px 0 10px;
}

.Borad_C:hover{
    border: 5px solid #fdbae7fa;
    background-color: #bae2fd09;
}

.Borad_H:hover{
    border: 5px solid #fdbae7fa;
    background-color: #bae2fd09;
}

.Borad_F:hover{
    border: 5px solid #fdbae7fa;
    background-color: #bae2fd09;
}

.Borad_C {
    height: 1900px;
    width: 1700px;
    border: 5px solid #fdbae783;
    border-radius: 100px;
    margin-top: 2%;
    background-color: #fdbae783;
}

.loc_C {
    font-size: 38px;
    margin-left: 14%;
    margin-top: 6%;
}

.loc {
    font-size: 38px;
    margin-left: 15%;
    margin-top: 7%;
}

.ft_ {
    font-size: 70px;
    text-shadow: rgb(255, 158, 247) 1px 0 10px;
}

.bk_ {
    background-color: #2b2b2b00;
}

.my_info {
    background-color: rgba(156, 207, 255, 0.171);
    height: 300px;
    width: 300px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    float: left;
    border: 5px solid #ff7ec986;
    border-radius: 50%;
    overflow: hidden;
    
}

.my_info:hover{
    animation-name: MoveToRight;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 4s;    /*動畫持續時間，單位為秒*/
    animation-iteration-count: infinite; 
       /*動畫次數，infinite 為無限次*/    
}

@keyframes MoveToRight {
    0% { height: 350px;width: 350px; }
    25% { height: 300px;width: 300px; }
    50% { height: 350px;width: 350px; }
    75% { height: 300px;width: 300px; }
    100% { height: 350px;width: 350px; }
}

.info{
    border: 5px solid #7ecbff00;
    background-color: rgba(156, 207, 255, 0);
}

.skill_b {
    height: 300px;
    width: 1700px;
    border: 5px solid #fdbae783;
    background-color: #fdbae783;
    border-radius: 100px;
    margin-top: 2%;
}

.skill_b:hover {
    border: 5px solid #fdbae7fa;
    background-color: #bae2fd10;
}

.my_skill {
    background-color: #b35b8b;
    height: 200px;
    width: 200px;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 50px;
    float: left;
    border: 5px solid #eb93e6;
    border-radius: 50%;
    overflow: hidden;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    font-size: 20px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    font-family: 'Noto Sans';
    border-radius: 30px;
    
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 10px;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    font-family: 'Noto Sans';
    border-radius: 30px;
}

.tg .tg-sml1 {
    background-color: #c0c0c0;
    border-color: #9b9b9b;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    font-family: 'Noto Sans';
    border-color:#ffffff00;
}

.tg .tg-858n {
    background-color: #c0c0c0;
    border-color: #9b9b9b;
    text-align: center;
    vertical-align: middle;
    font-family: 'Noto Sans';
    border-color:#ffffff00;
}

.tg .tg-w9cz {
    background-color: #efefef;
    border-color: #9b9b9b;
    text-align: center;
    vertical-align: middle;
    font-family: 'Noto Sans';
    border-color:#ffffff00;
    
}

.tg .tg-pgil {
    background-color: #efefef;
    border-color: #9b9b9b;
    text-align: center;
    vertical-align: top;
    font-family: 'Noto Sans';
    border-color:#ffffff00;
}

.tg-pgil:hover{
    opacity: 0.5;
}
.tg-w9cz:hover{
    opacity: 0.5;
}


/* noto-sans-700 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/noto-sans-v21-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/noto-sans-v21-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/noto-sans-v21-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/noto-sans-v21-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/noto-sans-v21-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/noto-sans-v21-latin-700.svg#NotoSans') format('svg');
    /* Legacy iOS */
}

/* noto-sans-700italic - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/noto-sans-v21-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('fonts/noto-sans-v21-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/noto-sans-v21-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/noto-sans-v21-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/noto-sans-v21-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/noto-sans-v21-latin-700italic.svg#NotoSans') format('svg');
    /* Legacy iOS */
}

p {
    font-family: 'Noto Sans';
}